name: Terraform - Apply Infrastructure Changes

on:
  push:
    branches:
      - main
    # paths:
    #   - "infra/**" # Trigger on changes to the infra directory

env:
  AWS_REGION: ap-southeast-1

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform fmt
        run: terraform fmt -check

      - name: Terraform Init
        run: |
          cd infra
          terraform init

      - name: Terraform Validate
        run: terraform validate -chdir=./infra

      # - uses: terraform-linters/setup-tflint@v3
      #   with:
      #     tflint_version: latest

      # - name: Show version
      #   run: tflint --version

      # - name: Init TFLint
      #   run: tflint --init

      # - name: Run TFLint
      #   run: tflint -f compact

      - name: Terraform Plan
        run: terraform plan ./infra

      - name: Terraform Apply
        run: terraform apply --auto-approve

    # steps:
    # - name: Checkout code
    #   uses: actions/checkout@v3

    # - name: Set up Terraform
    #   uses: hashicorp/setup-terraform@v1
    #   with:
    #     terraform_version: 1.3.7

    # - name: Cache Terraform dependencies
    #   uses: actions/cache@v3
    #   with:
    #     path: ~/.terraform
    #     key: terraform-${{ runner.os }}-${{ hashFiles('infra/**/*.tf') }}

    # - name: Set up AWS CLI
    #   uses: aws-actions/configure-aws-credentials@v1
    #   with:
    #     aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
    #     aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    #     aws-region: ${{ secrets.AWS_REGION }}

    # - name: Terraform Init
    #   run: terraform init ./infra

    # - name: Terraform Plan
    #   run: terraform plan -out=tfplan ./infra

    # - name: Terraform Apply
    #   run: terraform apply -auto-approve ./infra
